body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  background-color: #0a0a0a;
  color: #eaeaf6;
}

.top-container {
  background: linear-gradient(144deg, #108299 0%, #002054 43%, #000924 100%);
  padding-top: 100px;
  position: relative;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background: linear-gradient(309deg, #108299 0%, #002054 43%, #000924 100%);
  padding: 50px 0 20px;
}

h1 {
  font-size: 6rem;
  color: #00FFFF;
  line-height: 1.5;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2, h3 {
  font-family: 'Orbitron', sans-serif;
  color: #00FFFF;
  font-weight: normal;
}

a {
  color: #00FFFF;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #008B8B;
}

.copyright {
  color: #eaeaf6;
  padding: 20px 0;
  font-size: 0.75rem;
}

.skill-row {
  text-align: center;
  width: 50%;
  margin: 6.25rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  width: 20%;
  margin: 0 30px;
}

.btn {
  background: #003545;
  color: #b6d5e0;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 13px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: #064c78;
}

.intro {
  width: 50%;
  margin: auto;
  font-size: 1.25rem;
  color: #eaeaf6;
}

hr {
  border: 1px solid #00FFFF;
  width: 10%;
  margin: 100px auto;
}

.contact-me {
  width: 40%;
  margin: 40px auto;
}

.moon, .cloud1, .cloud2, .fly, .mountain {
  max-width: 100%;
  height: auto;
}

.moon {
  position: absolute;
  top: 20px;
  left: 60px;
}

.cloud1 {
  position: absolute;
  right: 25rem;
  top: 40px;
}

.cloud2 {
  position: absolute;
  left: 15.625rem;
}

.fly {
  position: absolute;
  left: 8.75rem;
}
